@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (width >= 1240px);

.common {
  display: flex;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
}
