.common {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  height: 24px;
  width: 100%;
  margin-bottom: 5px;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  opacity: 0;

  &:checked {
    + .label {
      &:before {
        border: 2px solid #0084FF;
        background-color: #0084FF;
      }

      &:after {
        content: '';
        position: absolute;
        left: 9px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
  }

  &:focus {
    + .label {
      &:before {
        outline: none;
        border-color: #0084FF;
      }
    }
  }

  &:disabled {
    + .label {
      color: #ddd;
      &:before {
        background-color: #ddd;
        border-color: #ddd;
      }
    }
  }
}

.label {
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;

  &:before {
    box-sizing: border-box;
    content: '';
    background: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
}

.indent {
  composes: common;
  margin-bottom: 25px;
}

.big {
  composes: common;

  .label {
    font-size: 18px;
  }
}
