@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);


.common {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}

.small {
  composese: common;
  .item {
    width: calc(20% - 20px);
    padding: 0 16px;
    justify-content: center;

    @media(--phone) {
      & {
        white-space: normal;
        width: calc(50% - 16px);
        margin: 8px;
      }
    }
  }
}

.item {
  display: flex;
  white-space: normal;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 16px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #CCCCCC;
  color: #000000;
  box-shadow: 0 0 0 0;
  letter-spacing: -0.4px;
  margin: 10px;
  padding: 0 12px;
  cursor: pointer;

  .title {
    text-align: left;
  }

  @media(--phone) {
    & {
      white-space: normal;
      width: calc(50% - 16px);
      margin: 8px;
    }
  }
}

.active {
  composes: item;
  background: #FDD476;
  border: solid 1px #FDD476;
}
