.common {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid #e9ecef;

  .text {
    line-height: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343a40;
    margin-bottom: -3px;
    color: #343a40;
  }

}

.big {
  composes: common;
  .text {
    font-size: 32px;
  }
}

.small {
  composes: common;
  .text {
    font-size: 18px;
  }
}
