<style type="text/css">
    .box-loader {
        background: #f8f9fa;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
    }

    @keyframes lds-ripple {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }
    @-webkit-keyframes lds-ripple {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }
    .lds-ripple {
        position: relative;
    }
    .lds-ripple div {
        box-sizing: content-box;
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        -webkit-animation: lds-ripple 2.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        animation: lds-ripple 2.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(1) {
        border-color: #adb5bd;
    }
    .lds-ripple div:nth-child(2) {
        border-color: #343a40;
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .lds-ripple {
        width: 200px !important;
        height: 200px !important;
        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }
</style>
<div id="root">
    <div class="box-loader">
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

{{#if isProduction}}
    <script src="/dist/app.production.min.js?{{timestamp}}"></script>
{{else}}
    <script src="/dist/app.js?{{timestamp}}"></script>
{{/if}}
