<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/pwa/logo-180x180.png">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="/dist/favicon.ico" type="image/x-icon">
</head>
<body>
{{{body}}}
</body>
</html>
