@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: flex;
  min-height: 10px;
  margin: 10px 0 10px 0;
}

.content {
  position: relative;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: #EF4870;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.1;
  &:hover {
    opacity: .6;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 33px;
  border-radius: 4px;
  border: solid 1px #CBCED1;
  margin-top: 4px;
  cursor: pointer;
  &:hover {
    background-color: #E7E8E9;
    border: 0px;
  }
}

.datetime {
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  letter-spacing: 1px;
  padding: 2px 5px 5px 5px;
}

.recorded {
  composes: common;
  .content {
    background-color: #4297f5;
  }
}

.empty {
  composes: common;
  .content {
    background-color: #D1D0D2;
  }
  .footer {
    display: none;
  }
}

.last {
  composes: common;
  margin-bottom: 0;
}

.warning {
  composes: common;
  .content {
    background-color: #efae48;
  }
}


@media(--phone) {
  .common {
    width: calc(33.33% - 16px);
    min-height: 80px;
    margin: 8px;
  }

  .content {
    font-size: 20px;
  }

  .footer {
    font-size: 12px;
  }
}
