@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);


.common {
  display: none;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.4);
}

.loader {
  top: 50%;
  margin-top: -20%;
  position: relative;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./loader.png);
  animation: animate 1000ms linear both;
  animation-iteration-count: infinite;
  z-index: 9999;
}

.show {
  composes: common;
  display: flex;
}

@keyframes animate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


@media (--mobile) {
  .common {
    width:100%;
    left: 0;
    margin-left: 0;
  }
}
