@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;
  width: 100%;
}

.item {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.status {
  padding-right: 10px;
  text-transform: uppercase;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.content {
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
}

.body {
  min-height: 0;
  max-height: 0;
  overflow: auto;
}

.open {
  composes: body;
  min-height: 100%;
  max-height: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}
