@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1 1 100%;
}

.full {
  composes: common;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 1 100%;
  height: 29px;
  padding: 0 5px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  &::placeholder {
    color: #ccc;
  }
}

.search {
  composes: input;
  padding-left: 20px;
  background: url(/img/svg/search.svg) 0 0 no-repeat;
  background-size: 18px 30px;
}
