@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
    outline: none;
}

:global {
  @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

  .ReactModal__Body--open {
     overflow: hidden;
  }

  /* #root {
    height: 100%;
  } */

  @media print {
    .print {
      position: absolute;
      z-index: 99999999999;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      font-size: 12px;
      background-color: #fff;
      display: flex;
    }
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

BODY,
HTML {
  background: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  color: #0a1521;
}

A {
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  align-items: center;
  color: #0a1521;
}

H1 {
  white-space: nowrap;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 0.9;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 5px;
  margin: 0;
}

H2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

H3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
  color: #0a1521;
}

B {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
}

SMALL {
  font-size: 11px;
  color: #666666;
}

MARK {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  color: inherit;
}

HR {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #D8D8D8;
}


@media (--phone) {
  H1 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  H3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
