@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (width >= 1240px);

.common {
  display: flex;
  flex-basis: 1;
}

.flex {
  composes: common;
  display: flex;
}

.scrollable {
  composes: common;
  overflow-y: auto;
}

.static {
  composes: common;
  position: static;
}

.uppercase {
  composes: common;
  text-transform: uppercase;
}

.notify {
  composes: common;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #37b24d;
  color: #2b8a3e;
  z-index: 9999;
}

.label {
  composes: common;
  align-items: center;
  min-width: 50px;
  padding: 0 20px;
  height: 40px;
  background: #FDD476;
  border-color: #FDD476;
  border-radius: 5px;
  color: #0a1521;
}

.error {
  composes: common;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    display: flex;
    border: 5px solid transparent;
    border-left: 5px solid #F44336;
    border-top: 5px solid #F44336;
  }
}

.fourth {
  width: 25%;
}

.half {
  min-width: 50%;
}

.three-fourth {
  width: 75%;
}

.text-align-center {
  composes: common;
  text-align: center;
}

.placeholder {
  composes: common;
  position: relative;
  &:before {
    content: '';
    position: absolute;

    top: 10px;
    right: 20px;
    left: 20px;
    bottom: 10px;
    z-index: 9999999;
    border-radius: 5px;
    background: #f7f7f7;

  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999991;
    background: #fff;
  }
}

.not-allowed {
  composes: common;
  cursor: not-allowed
}

.warning {
  composes: common;
  border: 1px solid #F44336;
}

.auto {
  composes: common;
  width: auto;
}

.self-start {
  composes: common;
  align-self: flex-start;
}


.self-stretch {
  composes: common;
  align-self: stretch;
}


.absl-top-right {
  position: absolute;
  z-index: 9;
  top:0;
  right: 0;
}

.absolute {
  composes: common;
  display: block;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.absolute-flex {
  composes: absolute;
  display: flex;
}

.action {
  composes: common;
  min-width: 200px;
}

.shadow {
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 3px;
    z-index: 99999;
  }

  &:before {
    top: 0;
    background-image: radial-gradient(farthest-side at 50% 0%, rgba(0,0,0,0.1)  0%, rgba(0,0,0,0) 100%);
  }

  &:after {
    bottom: 0;
    background-image: radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.1)  0%, rgba(0,0,0,0) 100%);
  }
}

.sep {
  composes: common;
  min-width: 1px;
  margin: 30px;
  background: #eaeaea;
}

.content {
  composes: common;
  padding: 0 30px;
  background: #fff;
}

.content-small {
  padding: 0 20px;

}

.bordered {
  composes: common;
  border: 1px solid #eaeaea;
}

.border-left {
  composes: common;
  border-left: 1px solid #eaeaea;
}

.border-bottom {
  composes: common;
  border-bottom: 1px solid #eaeaea;
}

.panel {
  composes: common;
  min-height: 50px;
}

.card {
  composes: common;
  min-height: 500px;
}

.table-1 {
  height: 290px;
}

.grow-1 {
  composes: common;
  flex-grow: 1;
}

.grow-4 {
  composes: common;
  flex-grow: 4;
}

.start {
  composes: common;
  justify-content: flex-start;
}

.end {
  composes: common;
  justify-content: flex-end;
}

.align-start {
  composes: common;
  align-content: flex-start;
  align-items: flex-start;
}

.align-center {
  composes: common;
  align-items: center;
}

.align-stretch {
  composes: common;
  align-items: stretch;
}

.align-end {
  composes: common;
  align-items: flex-end;
}

.stretch {
  composes: common;
  width: 100%;
}

.column {
  composes: common;
  flex-direction: column;
}

.expand {
  composes: common;
  flex-direction: column;
  height: 100vh; /* 60px height header top bar*/
}

.pointer {
  composes: common;
  cursor: pointer;
}

.nowrap {
  composes: common;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px;
}

.fix {
  flex: 1;
  min-width: 0;
}

.full {
  composes: common;
  min-height: 100%;
}

.wrap {
  composes: common;
  flex-wrap: wrap;
}

.center {
  composes: common;
  justify-content: center;
}

.text-aligin-center {
  text-align: center;
}

.around {
  composes: common;
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.between-x {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &:after {
    content: "";
    flex: auto;
  }
}

.relative {
  composes: common;
  position: relative;
}

.block {
  display: block;
}

.image-cover {
  composes: common;
  width: 250px;
  height: 200px;
}

.indent-1 {
  composes: common;
  padding: 10px;
}

.indent-2 {
  composes: common;
  padding: 20px;
}

.indent-3 {
  composes: common;
  padding: 30px;
}

.indent-4 {
  composes: common;
  padding: 40px;
}

.indent-5 {
  composes: common;
  padding: 50px;
}

.hidden {
  display: none;
}

.indent-left-1 {
  composes: common;
  padding-left: 10px;
}
.indent-left-2 {
  composes: common;
  padding-left: 20px;
}

.indent-left-3 {
  composes: common;
  padding-left: 30px;
}

.indent-left-4 {
  composes: common;
  padding-left: 40px;
}

.indent-left-5 {
  composes: common;
  padding-left: 50px;
}

.indent-right-1 {
  composes: common;
  padding-right: 10px;
}

.indent-right-2 {
  composes: common;
  padding-right: 20px;
}

.indent-right-3 {
  composes: common;
  padding-right: 30px;
}

.indent-right-4 {
  composes: common;
  padding-right: 40px;
}

.indent-right-5 {
  composes: common;
  padding-right: 50px;
}

.indent-top-none {
  composes: common;
  padding-top: 0;
}

.indent-bottom-none {
  composes: common;
  padding-bottom: 0;
}

.indent-bottom-05 {
  composes: common;
  padding-bottom: 5px;
}

.m-bottom-none {
  composes: common;
  margin-bottom: 0;
}

.indent-top-05 {
  composes: common;
  padding-top: 5px;
}

.indent-top-1 {
  composes: common;
  padding-top: 10px;
}

.indent-top-2 {
  composes: common;
  padding-top: 20px;
}

.indent-top-3 {
  composes: common;
  padding-top: 30px;
}

.indent-top-4 {
  composes: common;
  padding-top: 40px;
}

.indent-top-5 {
  composes: common;
  padding-top: 50px;
}

.indent-bottom-1 {
  composes: common;
  padding-bottom: 10px;
}

.indent-bottom-2 {
  composes: common;
  padding-bottom: 20px;
}

.indent-bottom-3 {
  composes: common;
  padding-bottom: 30px;
}

.indent-bottom-4 {
  composes: common;
  padding-bottom: 40px;
}

.indent-bottom-5 {
  composes: common;
  padding-bottom: 50px;
}

.indent-bottom-0-5 {
  composes: common;
  padding-bottom: 5px;
}

.indent-bottom-1-5 {
  composes: common;
  padding-bottom: 15px;
}

.height-230 {
  composes: common;
  max-height: 230px;
}

@media(--laptop) {
  .on-desktop-hide {
    composes: common;
    display: none !important;
  }
}

@media(--mobile) {

  .on-mobile-stretch {
    composes: common;
    width: 100%;
  }

  .on-mobile-indent-none {
    composes: common;
    padding-left: 0;
    padding-right: 0;
  }

  .on-mobile-column-reverse {
    composes: common;
    flex-direction: column-reverse;
  }

  .on-mobile-column {
    composes: common;
    flex-direction: column;
  }

  .on-mobile-hide {
    composes: common;
    display: none !important;
  }

  .on-mobile-block {
    display: block;
  }

  .on-desktop-half {
    width: 100%;
  }
}
@media (--tablet) {
  .on-tablet-hide {
    display: none !important;
  }

  .on-tablet-indent-top-1 {
    composes: common;
    padding-top: 10px;
  }

  .on-tablet-indent-top-2 {
    composes: common;
    padding-top: 20px;
  }
}
@media(--phone) {

  .indent-top-1 {
    padding-top: 8px
  }

  .indent-top-2 {
    padding-top: 16px
  }

  .indent-top-3 {
    padding-top: 24px
  }

  .indent-top-4 {
    padding-top: 32px
  }

  .indent-bottom-1 {
    padding-bottom: 8px
  }

  .indent-bottom-2 {
    padding-bottom: 16px
  }

  .indent-bottom-3 {
    padding-bottom: 24px
  }

  .indent-bottom-4 {
    padding-bottom: 32px
  }

  .content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content-small {
    padding-left: 6px;
    padding-right: 6px;
  }

  .indent-bottom-none {
    padding-bottom: 0;
  }

  .on-phone-stretch {
    composes: common;
    width: 100%;
  }

  .on-phone-align-start {
    composes: common;
    align-items: flex-start;
  }

  .on-phone-align-center {
    composes: common;
    align-items: center;
  }

  .on-phone-show {
    composes: common;
    display: block;
  }

  .on-phone-hide {
    composes: common;
    display: none !important;
  }

  .on-phone-column {
    composes: common;
    flex-direction: column;
  }

  .on-phone-column-reverse {
    composes: common;
    flex-direction: column-reverse;
  }

  .on-phone-border-none {
    composes: common;
    border: none;
  }

  .on-phone-justify-start {
    composes: common;
    justify-content: flex-start;
  }

  .on-phone-indent-1 {
    composes: common;
    padding: 10px;
  }

  .on-phone-indent-top-0 {
    composes: common;
    padding-top: 0px;
  }

  .on-phone-indent-bottom-0 {
    composes: common;
    padding-bottom: 0px;
  }

  .on-phone-indent-bottom-1 {
    composes: common;
    padding-bottom: 10px;
  }

  .on-phone-indent-bottom-2 {
    composes: common;
    padding-bottom: 20px;
  }

  .on-phone-indent-top-1 {
    composes: common;
    padding-top: 10px;
  }

  .on-phone-indent-top-2 {
    composes: common;
    padding-top: 20px;
  }

  .on-phone-indent-top-7 {
    composes: common;
    padding-top: 70px;
  }

  .on-phone-indent-bottom-3 {
    composes: common;
    padding-bottom: 30px;
  }

  .on-phone-indent-left-0 {
    composes: common;
    padding-left: 0px;
  }
}
