@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  padding: 0 12px;
  color: #fff;
  min-width: 60px;
  height: 38px;
  white-space: nowrap;
  border-radius: 4px;
  border: solid 1px transparent;
  /* box-shadow: 0 0 24px 0 rgba(47, 40, 51, 0.4); */
  background-color: #0a1521;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.red {
  composes: common;
  background-image: linear-gradient(to right, #fb6024, #eb3c25);
}

.transparent {
  composes: common;
  background: rgba(0,0,0,0);
}

.small {
  composes: common;
  height: 30px;
}

.small-width {
  composes: common;
  min-width: 30px;
  padding: 0 4px;
}

.loading {
  composes: common;
  .loader {
    transition: all 0.2s ease, opacity 0.3s ease;
    opacity: 1;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    margin-left: 10px;
  }
}

.loader {
  transition: all 0.2s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0px;
  min-width: 0px;
  max-height: 0px;
  max-width: 0px;
  color: #fff;
  margin-left: 0px;
  overflow: hidden;
}


.title {
  display: block;
  width: 100%;
  text-align: center;
}

.secondary {
  composese: common;
  color: #0a1521;
  border-radius: 4px;
  background-color: #F4F4F5;
  box-shadow: 0 0 0 0;

  &:hover {
    opacity: 1;
    background-color: #F6F6F7;
    color: #0a1521;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 1;
    background-color: #9DA2A7;
    color: #F5F6F6;
  }

  .loader {
    color: #000;
  }
}

.link {
  composese: common;
  color: #6F6F6F;
  border-radius: 4px;
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 0;

  .title {
    text-decoration: underline;
  }

  &:hover {
    opacity: 1;
    background-color: #F6F6F7;
    color: #0a1521;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 1;
    background-color: #9DA2A7;
    color: #F5F6F6;
  }
}

.simple {
  composes: link;
  .title {
    text-decoration: none;
  }
}

.big {
  composese: common;
  height: 190px;
  width: 190px;
}

.stretch {
  composese: common;
  width: 100%;
}

.link {
  composese: common;
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  color: #0a1521;
}

@media(--phone) {
  .common {
    font-size: 14px;
    white-space: nowrap;
  }

  .on-phone-stretch {
    composese: common;
    width: 100%
  }

}
