@custom-media --phone  (320px <= width <= 639px);

.common {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0px;
    height: 100%;
    z-index: 99999;
  }
}

.tag {
  composes: common;
  height: 40px;
}

.header {
  composes: common;
  height: 50px;
}

.reverse {
  composes: common;
  .container {
    flex-direction: row-reverse;
  }
}

.shadow-left {
  composes: common;
  &:after {
    transition: all 0.5s ease;
    width: 5px;
    left: 0;
    background-image: radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,0.20)  0%, rgba(0,0,0,0) 100%);
  }
}

.shadow-right {
  composes: common;
  &:before {
    transition: all 0.5s ease;
    width: 5px;
    right: 0;
    background-image: radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.20)  0%, rgba(0,0,0,0) 100%);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: auto;
  overflow: auto;
}

.center {
  composes: common;
  .container {
    justify-content: center;
  }
}
