@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 800px);
@custom-media --laptop (841px <= width <= 3000px);

.common {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.fixed {
  composes: common;
  min-height: 100%;
  position: fixed;
  .content {
    min-height: 100%;
  }
}

.content {
  position: relative;
  display: block;
  width: 800px;
  height: 100%;
  min-height: 100vh;
  background: #FFFFFF;
  padding: 20px 0;
}

@media(--phone) {
  .content {
    width: 100%;
    padding: 16px 0;
  }

}

@media all and (orientation:landscape) {
  .content {
    width: 1280px;
  }
}
