@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.rect {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  border-radius: 2px;
  background-color: #EF4870;
}

.title {
  opacity: 0.6;
  font-size: 12px;
  color: #030303;
  margin-left: 6px;
}

.warning {
  composes: common;
  .rect {
    background-color: #ECAC5A;
  }
}

.recorded {
  composes: common;
  .rect {
    background-color: #4297f5;
  }
}

.empty {
  composes: common;
  .rect {
    background-color: #c1bfc2;
  }
}

.last {
  composes: common;
  margin-right: 0;
}
