@custom-media --mobile (320px <= width <= 1239px);
@custom-media --phone  (320px <= width <= 639px);
@custom-media --tablet (640px <= width <= 1239px);
@custom-media --laptop (1240px <= width <= 1439px);

.common {
  display: inline-block;
  transition: all 0.1s ease;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  vertical-align: middle;
  position: relative;
}

.svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.text {
  composes: common;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2px;
  font-size: 12px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.crossed {
  composes: common;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    transform: rotate(-45deg);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pointer {
  composes: common;
  cursor: pointer;
}

.micro {
  composes: common;
  width: 7px;
  height: 7px;
  min-width: 7px;
  min-height: 7px;
}

.filter {
  composes: common;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
}

.tiny {
  composes: common;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}

.action {
  composes: common;
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
}

.link {
  composes: common;
  color: #0084FF;
}

.small {
  composes: common;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.big {
  composes: common;
  width: 37px;
  height: 37px;
  min-width: 37px;
  min-height: 37px;
}

.bigger {
  composes: common;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.biggest {
  composes: common;
  position: relative;
  width: 280px;
  height: 280px;
  min-width: 280px;
  min-height: 280px;
}

.huge {
  composes: common;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
}

.stretch {
  composes: common;
  width: 100%;
  height: 100%;
}

.bordered {
  border: 1px solid #ddd;
}

.black {
  composes: common;
  color: #000;
}

.error {
  composes: common;
  color: #F2453D
}

.danger {
  composes: common;
  color: #D96366;
}

.blue {
  composes: common;
  color: #0084FF;
}

.bg-primary {
  composes: common;
  background: #53D994;
}

.bg-secondary {
  composes: common;
  background: #FFCC79;
}

.primary {
  composes: common;
  color: #53D994;
}

.success {
  composes: primary;
}

.sunshade {
  color: #FD9827;
}


.getstream {
  color: #B7D6C7;
}
.warning {
  composes: common;
  color: #FFCC79;
}

.label {
  composes: common;
  border-radius: 50%;
  padding: 2px;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}

.white {
  composes: common;
  color: #fff;
}

.gray {
  composes: common;
  color: #C6C6C6;
}

.dark {
  composes: common;
  color: #9E9E9E;
}

.darker {
  composes: common;
  color: #9D9D9D;
}

.rotate {
  transition: all 0.1s ease;
  transform: rotateX(180deg)
}

.rotate-1 {
  transform: rotate(-90deg);
}

.rotate-2 {
  transform: rotate(-180deg);
}

.indent {
  composes: common;
  margin-right: 5px;
}

.indent-left {
  composes: common;
  margin-left: 5px;
}

.indent-left-1 {
  composes: common;
  margin-left: 10px;
}

.indent-right-1 {
  composes: common;
  margin-right: 10px;
}

.indent-right-2 {
  composes: common;
  margin-right: 10px;
}

.spinner {
  composes: common;
  animation:spin 1.4s linear infinite;
}


@media(--phone) {
  .on-phone-normal {
    composes: common;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }

}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
